@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto);
@import "ionicons/scss/ionicons";
@import "skeleton/normalize";
@import "skeleton/skeleton";

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    font-family: 'Anonymous Pro', monospace;
}

a h3 {
    color: black;
}

.hidden {
    display: none !important;
}

h3, h6 {
    display: inline-block;
}

.name {
    a.email {
        color: #888888;
        font-style: italic;
    }
}

.list-filter {
    margin-bottom: 2em;
    margin-top: 2em;
}

.media {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 0.8em;
    margin-bottom: 2em;
    height: 0;

    iframe {
        position: absolute;
        height: 100%;
    }
}

.footer {
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
}

// Works

.work-name {
    display: inline;
    padding-top: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    border-bottom: 2px solid #1EAEDB;

    &.no-link {
        padding-top: 1em;
        border-bottom: 0px;
        margin-right: 0.5em;
    }
}

.hero {
    margin-top: 4em;
    width: 100%;
}

.title.full {
    margin-top: 0em;
    margin-bottom: 3em;
}

.title.mini {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

.highlights {
    ul {
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -2em;
        padding-left: 3em;
    }

    li {
        line-height: 2rem;
    }
}

// Header

.header {
    margin-top: 1em;
    vertical-align: center;

    h1 a {
        color: black;
        text-decoration: none;
    }
}

.social-icon {
    position: relative;
    display: block;
    float: right;
    margin: auto 0 auto 0;
    font-size: 3rem;
    vertical-align: center;
    padding: 8px 16px 8px 16px;

    a {
        color: black;
    }
}



// Navbar

.navbar-list {
    list-style: none;
}

.navbar-item {
    position: relative;

    @media (min-width: 550px) {
        float: left;
        padding: 8px 16px 8px 16px;
    }

    &.blog-link {
        position: relative;
        float: right;

        a {
            text-decoration: none;
        }
    }

    &.active {
        background: blue;

        a {
            color: white;
        }
    }
}

.navbar-link {
    cursor: pointer;
}


// Content

.work-item {
    display: block;
    padding-bottom: 1.2em;
}

@keyframes bob {
    0% {  transform: translateY(-0px); }
    50% {  transform: translateY(-4px); }
    100% { transform: translateY(-0px); }
}

.work-link a {

    &:hover {
        text-decoration: underline;
    }
}

.change-display {
    display: block;

	  &:hover, &:focus, &:active {
        animation-name: bob;
        animation-duration: 1.5s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-direction: alternate;
	  }
}


// Image gallery
.gallery {
    position: relative;
    overflow: hidden;
    margin: 20px auto 20px auto;

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 80;

        img {
            position: absolute;
            max-width: 80%;
            max-height: 80%;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .control {
            position: absolute;
            display: block;
            height: 344px;
            font-size: 120px;
            cursor: pointer;

            @media screen and (max-width: 661px) {
                display: none;
            }

            z-index: 100;
            width: 49%;

            &.prev {
                top: 50%;
                left: 32px;
                transform: translate(0, -50%);
            }

            &.next {
                top: 50%;
                right: 32px;
                text-align: right;
                transform: translate(0, -50%);
            }

            &.close {
                font-size: 40px;
                text-align: right;
                right: 0;
                top: 0;

                i {
                    top: 32px;
                    right: 32px;
                }
            }

            &:hover {
                color: #1EAEDB;
            }

            i {
                display: block;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

    }

    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @media screen and (max-width: 661px) {
            white-space: normal;
        }
        z-index: 1;

        li {
            position: relative;
            display: inline-block;
            text-align: center;

            img {
                padding: 4px;
                width: 100%;

                &:hover {
                    padding: 3px;
                    border: 1px solid black;
                }

                @media screen and (max-width: 661px) {
                    max-width: 100%;
                    margin-top: 0.5em;
                }
            }
        }
    }

    i {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 1.2em;
    }
}
