@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto);
@import 'settings';
@import 'foundation';

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    font-family: 'Anonymous Pro', monospace;
}

h3 {
    font-size: 2.2em;
}

a h3 {
    color: black;
}

.work-item {
    display: block;
    padding-bottom: 1.2em;
}

@keyframes bob {
    0% {  transform: translateY(-0px); }
    50% {  transform: translateY(-4px); }
    100% { transform: translateY(-0px); }
}

.work-link a {
    color: map-get($foundation-palette, secondary);

    &:hover {
        text-decoration: underline;
    }
}

.change-display {
    display: block;
    color: map-get($foundation-palette, tertiary);

	  &:hover, &:focus, &:active {
        animation-name: bob;
        animation-duration: 1.5s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-direction: alternate;
	  }
}

.inline {
    display: inline;
}

.row {
    margin-bottom: 1em;
}

.header {
    margin-top: 1em;

    a {
    }
}

.name {
    margin-bottom: 2em;

    h1 {
        margin: 0;
        font-size: 2.5rem;
    }

    a.email {
        color: #888888;
        font-style: italic;
    }
}

.social {
    text-align: right;
    padding-top: 0.3em;

    i {
        font-size: 0.7em;
        margin-left: 0.5em;
        color: black;
        vertical-align: top;
    }
}

.work-name {
    padding-top: 0.5em;
}

.list-filter {
    margin-bottom: 2em;
    margin-top: 2em;
}

.media {
    margin-top: 0.8em;
}

.footer {
    text-align: center;
}

// Image gallery
.gallery {
    position: relative;
    overflow: hidden;
    margin: 20px auto 20px auto;

    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @media screen and (max-width: 661px) {
            white-space: normal;
        }
        z-index: 1;

        li {
            position: relative;
            display: inline-block;
            width: 661px;
            @media screen and (max-width: 661px) {
                width: 100%;
            }
            text-align: center;

            img {
                max-width: 661px;
                opacity: 0.8;
                @media screen and (max-width: 661px) {
                    max-width: 100%;
                    opacity: 1;
                    margin-top: 0.5em;
                }
            }

            img.is-active {
                opacity: 1;
            }
        }
    }

    i {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 1.2em;
    }

    .control {
        position: absolute;
        height: 343px;
        cursor: pointer;
        display: block;
        @media screen and (max-width: 661px) {
            display: none;
        }
        z-index: 100;
        width: 49%;
    }

    .left {
        left: 0;
    }

    .right {
        right:0;
        text-align: right;
    }
}
